@import 'theme-colors';
$theme-font: 100% verdana, sans-serif;

body {
  font: $theme-font;
  background-color: $themeColor-Light;
  h1, h2 {
      color: $themeColor-Dark
  }
}

// Menu.js

.nav-bar {
 background: black;
}

.vangst-logo-graphic {
  height: 25px;
}

.vangst-logo-text {
  height: 20px;
  margin-left: 10px;
}

.vangst-logo {
  height: 45px;
}
